pkgbase = storage-wiper
	pkgdesc = Secure disk wiping tool with GTK4/libadwaita interface and DoD-compliant algorithms
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/kidoz/storage-wiper
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = ninja
	depends = gtk4
	depends = gtkmm-4.0
	depends = libadwaita
	depends = polkit
	source = storage-wiper-1.0.0.tar.gz::https://github.com/kidoz/storage-wiper/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = storage-wiper
